<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/css/index/components/blog.css">

</head>
<body>
    <div class="b-blog-classify">
        <div class="b-blog">
            <ul class="b-blog-list">
                <li class="b-blog-item blog-classify-catalog-tip">
                    <span class="b-tip-classify">Classify：</span>
                    <span class="b-classify-name">All</span>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域一图胜千言--JVM运行时数据区域一图胜千言--JVM运行时数据区域一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
                <li class="b-blog-item">
                    <div class="box-title"><a class="title" href="../blog/blog.html">一图胜千言--JVM运行时数据区域</a></div>
                    <ul class="b-blog-info-list">
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-time"></span></i>
                            <span class="b-time">2020.03.30</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-eye"></span></i>
                            <span class="b-read-count">100</span></li>
                        <li class="b-blog-info-item blog-like-count-box">
                            <i class="layui-icon layui-icon-heart-fill"></i>
                            <span class="b-like-cout">100</span></li>
                        <li class="b-blog-info-item blog-comment-count-box">
                            <i><span class="iconfont">&#xe690;</span></i>
                            <span class="b-comment-count">100</span></li>
                        <li class="b-blog-info-item">
                            <i><span class="iconfont icon-wenji"></span></i>
                            <span class="b-classify-book">java</span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="b-classify">
            <ul class="b-classify-list">
                <li class="b-classify-item b-classify-title">
                    <div class="b-title">Classify</div>
                </li>
                <li class="b-classify-item">
                    <i><span class="iconfont icon-wenji classify-icon"></span></i>
                    <a class="b-classify-name" href="#">java</a>
                    <div class="b-dash-line"></div>
                    <span class="b-count">11</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
