@charset "UTF-8";

.common-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 3px #eee;

}
.common-header .header-container {
    display: flex;
    justify-content: space-between;
}

.common-header .header-container .header-logo-nav {
    width: 300px;
    height: 60px;
    display: flex;
}
.common-header .header-container .header-logo-nav .box-header-logo {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
}
.common-header .header-container .header-logo-nav .box-header-logo .header-logo {
    width: 60px;
    height: 60px;
}

.common-header .header-container .header-logo-nav .header-nav {
    width: auto;
    height: 60px;
    display: flex;
    margin-left: 30px;
}
.common-header .header-container .header-logo-nav .header-nav .header-nav-item {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.common-header .header-container .header-logo-nav .header-nav .header-nav-item .header-a-goto-nav {
    font-size: 16px;
}
.common-header .header-container .header-logo-nav .header-nav .header-nav-item .header-a-goto-nav:hover {
    color: #007fff;
}

.common-header .header-container .header-user-container {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.common-header .header-container .header-user-container .header-btn-login {
    margin-right: 10px;
}
.common-header .header-container .header-user-container .header-user-head {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #eee;
    box-shadow: 0 0 5px #e3e3e3;
}
.common-header .header-container .header-user-container .header-user-nickname {
    margin-right: 20px;
}
.common-header .header-container .header-user-container .header-a-goto-user-index {
    margin-right: 10px;
}

.box-login-form {
    display: none;
    padding: 30px;
}
.box-login-form .btn-login {
    width: 100%;
}
.box-login-form .option-box {
    display: flex;
    flex-direction: column;
}
.box-login-form .option-box .link-goto {
    margin-top: 10px;
    color: #0070c9;
}
.box-login-form .option-box .link-goto:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 960px) {
    .pc-header {
        display: none;
    }
}
