
body {
    /*font-family: 'Roboto Mono', monospace, "plantc", "Source Han Serif", serif;*/
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.wyf-center {
    width: 960px;
    margin: 0 auto;
}
