<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article</title>

    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/css/blog/components/article.css">
    <link rel="stylesheet" href="../static/css/blog/components/markdown.css">
<!--    <link rel="stylesheet" href="../static/css/blog/components/markdown-2.css">-->
</head>
<body>
    <div class="blog-article">
        <h1 class="blog-title">细读《挪威的森林》</h1>
        <div class="article-info-box">
            <ul class="b-blog-info-list">
                <li class="b-blog-info-item">
                    <i><span class="iconfont icon-time"></span></i>
                    <span class="b-time">2020.03.30</span></li>
                <li class="b-blog-info-item">
                    <i><span class="iconfont icon-eye"></span></i>
                    <span class="b-read-count">100</span></li>
                <li class="b-blog-info-item">
                    <i><span class="iconfont icon-wenji"></span></i>
                    <span class="b-classify-book">java</span></li>
            </ul>
        </div>
        <div class="article-container markdown-body">
            <p>​       大家好，转眼间2020年了，首先祝大家2020年元旦快乐。我是冯文议，是一名JAVA工程师，我的个人网站第五个版本（2020年版）也如期而至。本次改版与以往只有个人主页的版本不一样，这一次旨在打造一个记录自己的平台。包含个人主页、博客系统、作品、相册系统、留言系统、用户系统、后台管理系统等。</p>
            <p><img src="https://images.fengwenyi.com/1212240383100063746" alt="封面" /></p>
            <h2><a id="_6"></a>技术</h2>
            <ul>
                <li>基于Spring Boot进行开发</li>
                <li>前端使用Themyleaf模板，Layui，jQuery，Markdown富文本编辑器</li>
                <li>数据库MySQL</li>
                <li>数据库操作框架MyBatis-Plus</li>
                <li>权限认证Spring Security，JWT</li>
                <li>后台接口返回封装处理框架api-result</li>
                <li>工具类框架JavaLib</li>
                <li>后台管理系统vue-admin-pro</li>
                <li>Java 8 日期和时间</li>
                <li>文件上传，图片信息解析</li>
            </ul>
            <h2><a id="_21"></a>移除</h2>
            <ul>
                <li>移除了夜间模式</li>
                <li>首页图片不再每天更换</li>
            </ul>
            <h2><a id="_27"></a>权限</h2>
            <h2><a id="_29"></a>部署</h2>
            <h2><a id="_32"></a>网址</h2>
            <p>https://fengwenyi.com</p>
            <p>https://www.fengwenyi.com</p>
        </div>
    </div>
</body>
</html>
